


<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-6">
        <div class="row books-list">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <alert-status data="{status: 'pending'}"></alert-status>
                    <div class="row">
                        <div class="col-md-10">
                            <h3 class="panel-title">{{$ctrl.bookInfo.title | title:$ctrl.bookInfo.title}} by {{$ctrl.bookInfo.author.first}}
                                {{$ctrl.bookInfo.author.last}}</h3>
                        </div>
                    </div>
                    <small class="">MAXCHERRRRRRRRRRR</small>
                </div>
                <div class="panel-body">
                    <div ng-if="!$ctrl.isEditMode">
                        <div class="row">
                            <div class="col-xs-6 col-md-4">
                                <div class="thumbnail">
                                    <img ng-src="{{$ctrl.bookInfo.picture}}" alt="Image">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p class="subtitle is-6">@{{$ctrl.bookInfo.author.first}}{{$ctrl.bookInfo.author.last}}</p>
                            </div>
                        </div>
                        <div class="row caption">
                            <div class="col-md-12">
                                {{$ctrl.bookInfo.about}}
                            </div>
                        </div>
                    </div>

                    <div ng-if="$ctrl.isEditMode">
                        <form name="bookDetailsForm" novalidate>

                            <p class="">
                                Title: <input style="margin-left: 87px" name="title" required type="text"
                                              ng-model="$ctrl.bookInfo.title"
                                              ng-change="$ctrl.validateField(bookDetailsForm.title)"/>
                            </p>
                            <p class="">
                                Author First name: <input name="firstname" required type="text"
                                                          ng-model="$ctrl.bookInfo.author.first"
                                                          ng-pattern="/^[a-zA-Z]+$/"
                                                          ng-change="$ctrl.validateField(bookDetailsForm.firstname)"/>
                            </p>
                            <p class="">
                                Author Last name: <input name="lastname" required type="text"
                                                         ng-model="$ctrl.bookInfo.author.last"
                                                         ng-pattern="/^[a-zA-Z]+$/"
                                                         ng-change="$ctrl.validateField(bookDetailsForm.lastname)"/>
                            </p>
                            <p>
                                Publish Date: <input style="margin-left: 32px;" name="date" required type="date" ng-model="$ctrl.parsedBookDate"
                                                     ng-change="$ctrl.validateField(bookDetailsForm.date)"/>
                            </p>
                            <p>
                                Description
                                <textarea required
                                          name="about" rows="10" cols="70"
                                          ng-model="$ctrl.bookInfo.about" ng-change="$ctrl.validateField(bookDetailsForm.about)"/>
                                </textarea>
                            </p>
                        </form>
                    </div>

                </div>
                <div class="panel-footer">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default" ng-if="!$ctrl.isEditMode"
                                ng-click="$ctrl.isEditMode = true">Edit
                        </button>
                        <button type="button" class="btn btn-default" ng-if="$ctrl.isEditMode" ng-click="$ctrl.applyChanges()">
                            Done
                        </button>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{$ctrl.bookInfo.id}}">
                            Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
    <book-list books="$ctrl.books"></book-list>
    </div>
    <div class="col-md-4">
        <add-book on-click-add-button="$ctrl.handleAddBook(inputBook)"></add-book>
    </div>
</div>

