<div class="card">
    <div class="card-content" ng-if="!$ctrl.isEditMode">
        <div class="media">
            <div class="media-left">
                <figure class="image" style="height: 40px; width: 40px;">
                    <img ng-src="{{$ctrl.bookInfo.picture}}" alt="Image">
                </figure>
            </div>
            <div class="media-content">
                <p class="title is-3">{{$ctrl.bookInfo.title}}</p>
                <p class="subtitle is-6">Written By: {{$ctrl.bookInfo.author.first}} {{$ctrl.bookInfo.author.last}}</p>
                <p class="subtitle is-6">@{{$ctrl.bookInfo.author.first}}{{$ctrl.bookInfo.author.last}}</p>
            </div>
            <div class="media-right"><a class="delete"
                                        ng-click="$ctrl.onClickDeleteBook({bookId: $ctrl.bookInfo._id})"></a></div>
        </div>

        <div class="content">
            {{$ctrl.bookInfo.about}}
            <br>
            <small>Published {{$ctrl.bookInfo.published}}</small>
        </div>
    </div>
    <!--./view mode-->

    <div class="card-content" ng-if="$ctrl.isEditMode">
        <form novalidate name="book-details" class="book-details">
        <div class="media">
            <div class="media-left">

            </div>
            <div class="media-content">
                <p class="title is-3 is-offset-5">
                    {{$ctrl.bookInfo.title}} by {{$ctrl.bookInfo.author.first}} {{$ctrl.bookInfo.author.last}}
                </p>
                <p class="title is-4 is-offset-5">
                    Title: <input name="title" required type="text" ng-model="$ctrl.bookInfo.title"/>
                </p>
                <p class="subtitle is-4 is-offset-5">
                    Author First name: <input name="firstname" required type="text" ng-model="$ctrl.bookInfo.author.first"/>
                </p>
                <p class="subtitle is-4 is-offset-5">
                    Author Last name: <input name="lastname" required type="text" ng-model="$ctrl.bookInfo.author.last"/>
                </p>
            </div>
        </div>

        <div class="content is-offset-4">
            <textarea required rows="10" cols="50" ng-model="$ctrl.bookInfo.about"></textarea>
            <br>
            <small><input required type="date" ng-model="$ctrl.parsedBookDate"/></small>
        </div>
        </form>
    </div>
    <!--./edit mode-->
    <footer class="card-footer is-5">
        <a class="card-footer-item" ng-if="!$ctrl.isEditMode" ng-click="$ctrl.isEditMode = true">Edit</a>
        <a class="card-footer-item" ng-if="$ctrl.isEditMode" ng-click="$ctrl.applyChanges()">Done</a>
        <a class="card-footer-item" ng-click="$ctrl.onClickDeleteBook({bookId: $ctrl.bookInfo._id})">Delete</a>
    </footer>
</div>