<div class="row">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-9">
                    <h3 class="panel-title">{{$ctrl.bookInfo.title | title:$ctrl.bookInfo.title}} by {{$ctrl.bookInfo.author.first}}
                        {{$ctrl.bookInfo.author.last}}</h3>
                </div>
            </div>
            <small class="">Published {{$ctrl.bookInfo.published}}</small>
        </div>
        <div class="panel-body">
            <div ng-if="!$ctrl.isEditMode">
                <div class="row">
                    <div class="col-xs-6 col-md-4">
                        <div class="thumbnail">
                            <img ng-src="{{$ctrl.bookInfo.picture}}" alt="Image">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="subtitle is-6">@{{$ctrl.bookInfo.author.first}}{{$ctrl.bookInfo.author.last}}</p>
                    </div>
                </div>
                <div class="row caption">
                    <div class="col-md-12">
                        {{$ctrl.bookInfo.about}}
                    </div>
                </div>
            </div>

            <div ng-if="$ctrl.isEditMode">
                <form name="bookDetails" novalidate>
                    <!--<div ng-repeat="(key, detail) in $ctrl.bookInfo" ng-if="$ctrl.displayEditDetail(key)">-->
                    <p class="">
                        Title: <input style="margin-left: 87px" name="title" required type="text"
                                      ng-model="$ctrl.bookInfo.title"/>
                    </p>
                    <p class="">
                        Author First name: <input name="firstname" required type="text"
                                                  ng-model="$ctrl.bookInfo.author.first"/>
                    </p>
                    <p class="">
                        Author Last name: <input name="lastname" required type="text"
                                                 ng-model="$ctrl.bookInfo.author.last"/>
                    </p>
                    <p>
                    Publish Date: <input style="margin-left: 34px; width:173px" required type="date" ng-model="$ctrl.parsedBookDate"/>
                    </p>
                    Description
                    <textarea required rows="10" cols="88" ng-model="$ctrl.bookInfo.about"></textarea>
                    <br>

                    <!--</div>-->
                </form>
            </div>

        </div>
        <div class="panel-footer">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default" ng-if="!$ctrl.isEditMode"
                        ng-click="$ctrl.isEditMode = true">Edit
                </button>
                <button type="button" class="btn btn-default" ng-if="$ctrl.isEditMode" ng-click="$ctrl.applyChanges()">
                    Done
                </button>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{$ctrl.bookInfo.id}}">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="{{$ctrl.bookInfo.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{$ctrl.bookInfo.title}} by {{$ctrl.bookInfo.author.first}} {{$ctrl.bookInfo.author.last}}</h4>
            </div>
            <div class="modal-body">
                <h4>Are you sure you want to delete {{$ctrl.bookInfo.title}}?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="$ctrl.onClickDeleteBook({bookId: $ctrl.bookInfo.id})">Delete</button>
            </div>
        </div>
    </div>
</div>