.books-list{
  .panel-body input{
    width: 150px;
  }

}
.spin {
  animation: spin 2.5s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.add-book{
  .panel-body input{
    width: 150px;
  }
}

input.ng-invalid {
  background-color: #FF696B;
}

textarea.ng-invalid {
  background-color: #FF696B;
}

.alert-status {
  border: 1px solid gray;
  border-radius: 2px;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 5px;
}

.alert-status-disabled {
  background-color: gray;
}
