.books-list{
  .panel-body input{
    width: 150px;
  }

}
.spin {
  animation: spin 2.5s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.add-book{
  .panel-body input{
    width: 150px;
  }
}

input.ng-invalid {
  background-color: #FF696B;
}

textarea.ng-invalid {
  background-color: #FF696B;
}
