.books-list{
  .panel-body input{
    width: 150px;
  }

}

.add-book{
  .panel-body input{
    width: 150px;
  }
}

input.ng-invalid {
  background-color: #FF696B;
}

textarea.ng-invalid {
  background-color: #FF696B;
}
